<form [formGroup]="reactiveForm" (ngSubmit)="search()">
<h3 mat-dialog-title>Dar de baja Activo fijo</h3>
<div mat-dialog-content>
	<mat-form-field appearance="outline" class="full-width">
		<mat-label>Buscar activo fijo</mat-label>
		<input matInput placeholder="Ingrese número" formControlName="search">
		<mat-hint>{{estatus}}</mat-hint>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-flat-button color="primary">Buscar</button>
	<button mat-stroked-button mat-dialog-close>Cerrar</button>
</div>
</form>
