<app-header></app-header>
<div class="container">
	<mat-spinner *ngIf="!request"></mat-spinner>
	{{request}}
	<div *ngIf="request?.id" class="mt-5 pt-5 p-3">	
		<div class="row">
			<button mat-button color="primary" (click)="goBack()" class="mb-3">
				<i class="fas fa-angle-left"></i>
				Volver</button>
		</div>

		<div class="mat-typography">
			<h1>Solicitud de activo fijo</h1>
		</div>

		<div class="row pt-3 mb-5">
			<mat-accordion class="full-width">
	<!--Datos Activo fijo-->
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
					<mat-panel-title>
						Datos Activo fijo
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
						<p>Estado: <span *ngIf="request?.status == 2" class="badge badge-warning">En Evaluación</span>
					<span *ngIf="request?.status == 3" class="badge badge-danger">Rechazado</span>
					<span *ngIf="request?.status == 4" class="badge badge-success">Aprobado</span></p>
						
					<p>Fecha de creación: {{request.createdAt.date | date :'short' }}<p>
					<!--contenido-->	
					<mat-form-field appearance="outline" class="full-width" *ngIf="request?.catalogClass.name">
						<mat-label>Clase activo fijo</mat-label>
						<input matInput placeholder="Clase activo fijo<" readonly value="{{request.catalogClass.code}} - {{request.catalogClass.name}}">
					</mat-form-field>
						<mat-form-field appearance="outline" class="full-width">
						<mat-label>Sociedad</mat-label>
						<input matInput placeholder="Sociedad<"readonly value="LS01">
					</mat-form-field>
				</mat-expansion-panel>
<!--Especie-->
				<mat-expansion-panel>
					<mat-expansion-panel-header>
					<mat-panel-title color="primary">
						Especie
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
						<mat-form-field appearance="outline" class="full-width" *ngIf="request?.specie">
						<mat-label>Especie</mat-label>
						
						<input matInput placeholder="Especie"readonly value="{{request.specie.code}}-{{request.specie.name}}">
						</mat-form-field>
						<mat-form-field appearance="outline" class="full-width" *ngIf="request?.description">
						<mat-label>Denominación</mat-label>
						<textarea matInput *ngIf="request?.description" [readonly]="true" cols="5">{{request.description}}</textarea>
						</mat-form-field>

						<mat-checkbox [checked]="true" [disabled]="true">Incluir activo fijo en lista inventario</mat-checkbox>
						<br/>
						<mat-checkbox [checked]="true" [disabled]="true">Gestión histórica</mat-checkbox>
					<!--contenido-->						
				</mat-expansion-panel>
				<!--Origen-->
				<mat-expansion-panel>
					<mat-expansion-panel-header>
					<mat-panel-title color="primary">
						Origen
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
					<mat-form-field appearance="outline" class="full-width">
                        <mat-label>ID Acreedor</mat-label>
	                        <input matInput placeholder="ID Acreedor" readonly value="{{request.creditorId}}">
                    </mat-form-field>

                    <mat-checkbox 
                    [checked]="request.newAsset" [disabled]="true">¿Es un activo nuevo?
                    </mat-checkbox>
					<!--contenido-->						
				</mat-expansion-panel>
				


			</mat-accordion>
		</div>

	</div>
</div>
<app-footer></app-footer>
