<app-header>
</app-header>

<div class="container">
    <ng-container *ngIf="asset; else loading">
        <ng-container *ngIf="asset !== null; else noContent">



            <div class="mt-5 pt-5 p-3">

                <app-back-button></app-back-button>
                <app-tabs [asset]=asset></app-tabs>

                <form [formGroup]="reactiveForm" (ngSubmit)="Dialog()">

                    <div class="row pt-3">
                        <mat-accordion class="full-width" [multi]="true">
                            <!--DATOS-->
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Datos Activo fijo
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="asset.status == 3">
                                    <div class="alert alert-dismissible alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <h4 class="alert-heading"><strong>Atención</strong></h4>
                                        <p class="mb-0 mt-0">Este activo fijo esta dado de baja</p>
                                    </div>
                                </div>

                                <p class="display-5 pr-3 d-sm-block pr-3">Fecha de creación: {{utils.formatDate(asset['createdAt'].date)}}
                                </p>
                                <p class="display-5 pr-3 d-sm-block">Número AF: {{ asset.referalCode }}
                                </p>
                                <p class="display-5 pr-3 d-sm-block">Código RFID: {{ asset.rfidLabelSap }}
                                </p>
                                <p class="display-5 pr-3 d-sm-block">Condición:
                                    <span *ngIf="asset?.status == 1" class="badge badge-secondary">En Proceso</span>
                                    <span *ngIf="asset?.status == 2" class="badge badge-primary">Activo</span>
                                    <span *ngIf="asset?.status == 3" class="badge badge-danger">Dado de Baja</span>
                                </p>

                                <!--Clase activo fijo-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Clase activo fijo</mat-label>
                                    <div *ngIf="asset.catalogClass == null; else catalogClass">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #catalogClass>
                                        <input matInput placeholder="" readonly value="{{asset.catalogClass.name}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Clase activo fijo-->

                                <!--Código Rfid-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Código Rfid
                                    </mat-label>
                                    <div *ngIf="asset.rfidLabelSap == null; else rfidLabelSap">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #rfidLabelSap>
                                        <input matInput readonly placeholder="Código Rfid" value="{{asset.rfidLabelSap}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Código Rfid-->


                                <!--Sociedad-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Sociedad
                                    </mat-label>
                                    <div *ngIf="asset.society == null; else society">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #society>
                                        <input matInput placeholder="" readonly value="{{asset.society}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Sociedad-->


                                <!--Fecha de Capitalización-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fecha de Capitalización
                                    </mat-label>
                                    <div *ngIf="asset.capitalizationDateAt == null; else capitalizationDateAt">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #capitalizationDateAt>
                                        <input matInput placeholder="" readonly value="{{utils.formatDate(asset['capitalizationDateAt'].date)}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Fecha de Capitalización-->
                            </mat-expansion-panel>
                            <!--ESPECIE-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Especie
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Especie
                                    </mat-label>
                                    <div *ngIf="asset.specie == null; else specie">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #specie>
                                        <input matInput placeholder="" readonly value="{{asset.specie.name}}">
                                    </ng-template>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Número de serie
                                    </mat-label>
                                    <div *ngIf="asset.serieNumber == null; else serieNumber">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #serieNumber>
                                        <input matInput placeholder="" readonly value="{{asset.serieNumber}}">
                                    </ng-template>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Denominación
                                    </mat-label>
                                    <div *ngIf="asset.description == null; else description">
                                        <textarea matInput [readonly]="true" disabled cols="5">Sin datos</textarea>
                                    </div>
                                    <ng-template #description>
                                        <textarea matInput [readonly]="true" cols="5">{{asset.description}}</textarea>
                                    </ng-template>

                                </mat-form-field>

                                <mat-checkbox [checked]="true" [disabled]="true">Incluir activo fijo en lista inventario
                                </mat-checkbox>

                                <mat-checkbox [checked]="true" [disabled]="true">Gestión histórica</mat-checkbox>
                            </mat-expansion-panel>
                            <!--CENTRO DE COSTO-->
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="text-primary">
                                        Centro de costo
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label class="text-primary">Centro de costo
                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                    </mat-label>
                                    <select matNativeControl formControlName="costCenter">
                                        <option [ngValue]="null" disabled>Seleccione ...</option>
                                    <option *ngFor="let CCenter of CCenters" [value]="CCenter.id">{{CCenter.code}} -
                                        {{CCenter.name}}</option>
                                </select>
                                </mat-form-field>

                            </mat-expansion-panel>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="text-primary">
                                        Asignaciones
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <!------->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label class="text-primary">Centro
                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                    </mat-label>
                                    <select matNativeControl formControlName="lCenter" (change)="onChangeCenter()">
                                <option [ngValue]="null" disabled>Seleccione ...</option>
                                <option selected [ngValue]="asset.lCenter.id">{{asset.lCenter.code}} - {{asset.lCenter.name}}</option>
                                <option *ngFor="let Center of Centers" [ngValue]="Center.id">{{Center.code}} - {{Center.name}}</option>
                            </select>
                                </mat-form-field>





                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label class="text-primary">Edificio
                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                    </mat-label>
                                    <select matNativeControl formControlName="lBuilding" (change)="onChangeBuilding()">
                                    <option [ngValue]="null" disabled>Seleccione ...</option>
                                    <option selected [ngValue]="asset.lBuilding.id">{{asset.lBuilding.code}} - {{asset.lBuilding.name}}</option>
                                    <option *ngFor="let lBuilding of lBuildings" [ngValue]="lBuilding.id">
                                        {{lBuilding.code}} - {{lBuilding.name}}</option>
                                </select>
                                </mat-form-field>
                                <small class="text-info" *ngIf="reactiveForm.get('lBuilding').hasError('required')">Campo
                                requerido</small>









                                <small class="text-info" *ngIf="reactiveForm.get('lCenter').hasError('required')">Campo
                            requerido</small>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label class="text-primary">Piso
                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                    </mat-label>
                                    <select matNativeControl formControlName="lFloor" (change)="onChangeFloor()">
                                        <option [ngValue]="null" disabled>Seleccione ...</option>
                                        <option selected [ngValue]="asset.lFloor.id">{{asset.lFloor.code}} - {{asset.lFloor.name}}</option>
                                        <option *ngFor="let lFloor of lFloors" [ngValue]='lFloor.id'>{{lFloor.id}}
                                            {{lFloor.code}} - {{lFloor.name}}</option>
                                    </select>
                                </mat-form-field>


                                <small class="text-info" *ngIf="reactiveForm.get('lFloor').hasError('required')">Campo
                                    requerido</small>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label class="text-primary">Área
                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                    </mat-label>
                                    <select matNativeControl formControlName="lArea" (change)="onChangeArea()">
                                            <option [ngValue]="null" disabled>Seleccione ...</option>
                                            <option selected [ngValue]="asset.lArea.id">{{asset.lArea.code}} - {{asset.lArea.name}}</option>
                                            <option *ngFor="let lArea of lAreas" [ngValue]="lArea.id">{{lArea.code}} -
                                                {{lArea.name}}</option>
                                        </select>
                                </mat-form-field>


                                <small class="text-info" *ngIf="reactiveForm.get('lArea').hasError('required')">Campo
                                        requerido</small>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label class="text-primary">Sala
                                        <mat-icon aria-hidden="false">edit</mat-icon>
                                    </mat-label>
                                    <select matNativeControl formControlName="lRoom">
                                                <option [ngValue]="null" disabled>Seleccione ...</option>
                                                <option selected [ngValue]="asset.lRoom.id">{{asset.lRoom.code}} - {{asset.lRoom.name}}</option>
                                                <option *ngFor="let lRoom of lRooms" [ngValue]='lRoom.id'>{{lRoom.code}} -
                                                    {{lRoom.name}}</option>
                                            </select>
                                </mat-form-field>
                                <small class="text-info" *ngIf="reactiveForm.get('lRoom').hasError('required')">Campo
                                            requerido</small>
                                <!------->

                            </mat-expansion-panel>



                            <!--ORIGEN-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Origen
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        ID Acreedor
                                    </mat-label>
                                    <div *ngIf="asset.creditorId == null; else creditorId">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #creditorId>
                                        <input matInput placeholder="ID Acreedor" readonly value="{{asset.creditorId}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fabricante
                                    </mat-label>
                                    <div *ngIf="asset.creditorName == null; else creditorName">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #creditorName>
                                        <input matInput placeholder="Fabricante" readonly value="{{asset.creditorName}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Origen
                                    </mat-label>
                                    <div *ngIf="asset.assetOrigin == null; else assetOrigin">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #assetOrigin>
                                        <input matInput placeholder="" readonly value="{{asset.assetOrigin}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-checkbox [checked]="true" [disabled]="true">¿Es un activo nuevo?</mat-checkbox>
                            </mat-expansion-panel>
                            <!--AGNOS ESPERANZA-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Años de vida útil
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Años de vida útil
                                    </mat-label>

                                    <div *ngIf="asset.lifetimeYear == null; else lifetimeYear">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lifetimeYear>
                                        <input matInput placeholder="" readonly value="{{asset.lifetimeYear}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Vida útil tributaria
                                    </mat-label>
                                    <div *ngIf="asset.lifetimeYear15 == null; else lifetimeYear15">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lifetimeYear15>
                                        <input matInput placeholder="Vida útil tributaria" readonly value="{{asset.lifetimeYear15}}">
                                    </ng-template>
                                </mat-form-field>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="row pt-3 mb-5">
                        <button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-lg btn-primary full-width mb-3">Guardar
                        cambios y enviar</button>
                    </div>
                </form>

            </div>
        </ng-container>
    </ng-container>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
    <ng-template #noContent>
        <h1 class="text-danger">
            {{utils.toHome()}}
        </h1>
    </ng-template>
</div>

<app-footer></app-footer>