<app-header></app-header>
<!-- header -->
<div class="container">
    <!-- container -->
    <!-- spinner -->
    <mat-spinner *ngIf="!asset"> </mat-spinner>
    <!-- / spinner -->
    <div *ngIf="asset?.referalCode" class="mt-5 pt-5 p-3">
        <!-- div -->
        <!-- row boton volver -->
        <div class="row">
            <div class="col text-left">
                <button mat-button color="primary" (click)="goBack()" class="mb-3">
                    <i class="fas fa-angle-left"></i>
                    Volver</button>
            </div>

        </div>
        <!-- / row boton volver -->
        <!-- row botonera -->
        <div class="row">
            <mat-button-toggle-group name="fontStyle">
                <mat-button-toggle [routerLink]="['/fixedAsset',asset.code]">Detalles
                </mat-button-toggle>
                <mat-button-toggle [routerLink]="['/fixedAssetUpdate', asset.code]">Modificar
                </mat-button-toggle>
                <mat-button-toggle [routerLink]="['/fixedAssetMove', asset.code]">Trasladar</mat-button-toggle>
                <mat-button-toggle [routerLink]="['/fixedAssetDelete', asset.code]" class="btn-primary active">Dar de baja
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- / row botonera -->
        <form [formGroup]="reactiveForm" (ngSubmit)="Dialog()">
            <input matInput formControlName="assetID" value="{{asset.id}}" class="hidden">




            <div class="row pt-3">
                <mat-expansion-panel class="full-width mb-3" [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Datos Activo fijo
                        </mat-panel-title>

                    </mat-expansion-panel-header>

                    <button mat-stroked-button color="primary" class="btn-block mb-3" (click)="refresh()">Refrescar</button>

                    <div *ngIf="asset.status == 3">
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4 class="alert-heading"><strong>Atención</strong></h4>
                            <p class="mb-0 mt-0">Este activo fijo esta dado de baja</p>
                        </div>
                    </div>


                    <p *ngIf="asset?.createdAt" class="display-5 pr-3 d-sm-block pr-3">Fecha de creación: {{ formatDate(asset.createdAt.date)}}
                    </p>
                    <p *ngIf="asset?.referalCode" class="display-5 pr-3 d-sm-block">Número AF: {{ asset.referalCode }}
                    </p>
                    <p class="display-5 pr-3 d-sm-block">Código RFID: {{ asset.rfidLabelSap }}
                    </p>
                    <p class="display-5 pr-3 d-sm-block">Condición:
                        <span *ngIf="asset?.status == 1" class="badge badge-secondary">En Proceso</span>
                        <span *ngIf="asset?.status == 2" class="badge badge-primary">Activo</span>
                        <span *ngIf="asset?.status == 3" class="badge badge-danger">Dado de Baja</span>
                    </p>
                    <br />
                    <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.catalogClass">
                        <mat-label>Clase activo fijo</mat-label>
                        <input matInput placeholder="" readonly value="{{asset.catalogClass.name}}">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Código Rfid
                        </mat-label>
                        <input matInput readonly placeholder="Código Rfid" value={{asset.rfidLabelSap}}>
                    </mat-form-field>

                    <br />
                    <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.society">
                        <mat-label>
                            Sociedad
                        </mat-label>
                        <input matInput placeholder="" readonly value="{{asset.society}}">
                    </mat-form-field>
                    <br />
                    <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.capitalizationDateAt">
                        <mat-label>
                            Fecha de Capitalización
                        </mat-label>
                        <input matInput placeholder="" readonly value="{{formatDate(asset.capitalizationDateAt.date)}}">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width" *ngIf="!asset?.capitalizationDateAt">
                        <mat-label>
                            Fecha de Capitalización
                        </mat-label>
                        <input matInput placeholder="" readonly value="">
                    </mat-form-field>
                    <br />

                    <!---->
                </mat-expansion-panel>
                <!---->



                <mat-accordion class="full-width">


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Especie
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Especie
                            </mat-label>
                            <input matInput placeholder="" readonly value="{{asset.specie.name}}">
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Número de serie
                            </mat-label>
                            <input matInput placeholder="" readonly value="{{asset.serieNumber}}">
                        </mat-form-field>
                        <br />
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Denominación
                            </mat-label>
                            <textarea matInput *ngIf="asset?.description" [readonly]="true" cols="5">{{asset.description}}</textarea>
                        </mat-form-field>
                        <br />
                        <mat-checkbox [checked]="true" [disabled]="true">Incluir activo fijo en lista inventario
                        </mat-checkbox>
                        <br />
                        <mat-checkbox [checked]="true" [disabled]="true">Gestión histórica</mat-checkbox>
                        <br />
                    </mat-expansion-panel>
                    <!---->


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Centro de costo
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Centro de costo {{asset.costCenter.name}}
                            </mat-label>
                            <input matInput placeholder="" readonly value="{{asset.costCenter.code}} - {{asset.costCenter.name}}">
                        </mat-form-field>
                    </mat-expansion-panel>

                    <!---->


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Asignaciones
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Centro
                            </mat-label>
                            <input matInput placeholder="Centro" readonly value="{{asset.lCenter.code}} - {{asset.lCenter.name}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.lBuilding.code">
                            <mat-label>
                                Edificio
                            </mat-label>
                            <input matInput placeholder="Edificio" readonly value="{{asset.lBuilding.code}} - {{asset.lBuilding.name}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Piso
                            </mat-label>
                            <input matInput placeholder="Piso" readonly value="{{asset.lFloor.code}} - {{asset.lFloor.name}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Área
                            </mat-label>
                            <input matInput placeholder="Área" readonly value="{{asset.lArea.code}} - {{asset.lArea.name}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Sala
                            </mat-label>
                            <input matInput placeholder="Sala" readonly value="{{asset.lRoom.code}} - {{asset.lRoom.name}}">
                        </mat-form-field>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Origen
                            </mat-panel-title>

                        </mat-expansion-panel-header>


                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.creditorId">
                            <mat-label>
                                ID Acreedor
                            </mat-label>
                            <input *ngIf="asset?.creditorId" matInput placeholder="ID Acreedor" readonly value="{{asset.creditorId}}">
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.creditorName">
                            <mat-label>
                                Fabricante
                            </mat-label>
                            <input *ngIf="asset?.creditorName" matInput placeholder="Fabricante" readonly value="{{asset.creditorName}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.assetOrigin">
                            <mat-label>
                                Origen
                            </mat-label>
                            <input *ngIf="asset?.assetOrigin" matInput placeholder="" readonly value="{{asset.assetOrigin}}">
                        </mat-form-field>

                        <mat-checkbox [checked]="true" [disabled]="true">¿Es un activo nuevo?</mat-checkbox>




                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Años de vida útil
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Años de vida útil
                            </mat-label>
                            <input matInput placeholder="  Años de vida útil" readonly value="{{asset.lifetimeYear}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Vida útil tributaria
                            </mat-label>
                            <input matInput placeholder="Vida útil tributaria" readonly value="{{asset.lifetimeYear15}}">
                        </mat-form-field>

                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>

                            <mat-panel-title>
                                Baja del servicio
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Fecha documento
                            </mat-label>
                            <input type="date" matInput formControlName="downDocumentAt" placeholder="" value="">
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Fecha referencia
                            </mat-label>
                            <input type="date" matInput formControlName="downPostingAt" placeholder="" value="">
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Fecha contabilización
                            </mat-label>
                            <input type="date" matInput placeholder="" value="" formControlName="downReferenceAt">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Glosa de baja
                            </mat-label>
                            <textarea matInput formControlName="downComment" [readonly]="false" cols="5"></textarea>
                        </mat-form-field>




                    </mat-expansion-panel>


                </mat-accordion>
            </div>
            <div class="row pt-3 mb-5">
                <button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-lg btn-danger full-width mb-3">Dar de
                    baja</button>
            </div>
        </form>
    </div>
</div>
<!-- footer -->
<app-footer></app-footer>