<app-header></app-header>
<div class="container pb-5">
	<mat-spinner *ngIf="!request"></mat-spinner>
	{{request}}
	<div *ngIf="request?.id" class="mt-5 pt-5 p-3">	
		<div class="row">
			<button mat-button color="primary" (click)="goBack()" class="mb-3">
				<i class="fas fa-angle-left"></i>
				Volver</button>
		</div>

		<div class="mat-typography">
			<h1>Solicitud de activo fijo</h1>
		</div>


<form [formGroup]="reactiveForm" (ngSubmit)="updateData()">

		<div class="row pt-3 mb-5">

		

			<mat-accordion class="full-width">
	<!--Datos Activo fijo-->
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
					<mat-panel-title>
						Datos Activo fijo
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
						<p *ngIf="request?.status">Estado: <span *ngIf="request?.status == 2" class="badge badge-warning">En Evaluación</span>
					<span *ngIf="request?.status == 3" class="badge badge-danger">Rechazado</span>
					<span *ngIf="request?.status == 4" class="badge badge-success">Aprobado</span></p>
						
					<p *ngIf="request?.createdAt">Fecha de creación: {{request.createdAt.date | date :'short' }}<p>
					<!--contenido-->					
					<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Clase activo fijo</mat-label>
				<select matNativeControl formControlName="catalogClass">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let cClass of cClasses" [value]="cClass.id">{{cClass.code}} - {{cClass.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('catalogClass').hasError('required')">Campo requerido</small>
			</div>
					
					
					
						<mat-form-field appearance="outline" class="full-width">
						<mat-label>Sociedad</mat-label>
						<input matInput placeholder="Sociedad<"readonly value="LS01">
					</mat-form-field>
				</mat-expansion-panel>
<!--Especie-->
				<mat-expansion-panel>
					<mat-expansion-panel-header>
					<mat-panel-title color="primary">
						Especie
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
						

	<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Especie</mat-label>
					<select matNativeControl formControlName="specie">
						<option [ngValue]="null" disabled>Seleccione ...</option>   
						<option *ngFor="let specie of species" [value]="specie.id">{{specie.id}} {{specie.code}} {{specie.name}}</option>
					</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('specie').hasError('required')">Campo requerido</small>
			</div>



						<mat-form-field appearance="outline" class="full-width" *ngIf="request?.description">
						<mat-label>Denominación</mat-label>
						<textarea matInput *ngIf="request?.description"  cols="5">{{request.description}}</textarea>
						</mat-form-field>

						<mat-checkbox [checked]="true" [disabled]="true">Incluir activo fijo en lista inventario</mat-checkbox>
						<br/>
						<mat-checkbox [checked]="true" [disabled]="true">Gestión histórica</mat-checkbox>
					<!--contenido-->						
				</mat-expansion-panel>

				<!--Asignaciones-->
<mat-expansion-panel>
		<mat-expansion-panel-header>
					<mat-panel-title>
						Asignaciones
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
					<mat-form-field appearance="outline" class="full-width" >
						<mat-label>Número de serie</mat-label>
						<input matInput placeholder="Número de serie"  value="{{request.assetRequestDetails[0].serieNumber}}">
					</mat-form-field>
					
					
					<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Centro de costo</mat-label>
				<select matNativeControl formControlName="costCenter">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let CCenter of CCenters" [value]="CCenter.id">{{CCenter.code}} - {{CCenter.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('costCenter').hasError('required')">Campo requerido</small>
			</div>
					
					
					
						<mat-form-field appearance="outline" class="full-width">
						<mat-label>Último estado en SAP</mat-label>
						<input matInput placeholder="Último estado en SAP" readonly value="??????">
						</mat-form-field>



						<div class="mat-typography">
							<h3>Ubicaciones</h3>
						</div>

						<!--Centro-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Centro</mat-label>
				<select matNativeControl formControlName="lCenter" (change)="onChangeCenter($event.target.value)">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let Center of Centers" [value]="Center.id">{{Center.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lCenter').hasError('required')">Campo requerido</small>
			</div>

			<!--Edificio-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Edificio</mat-label>
				<select matNativeControl formControlName="lBuilding" (change)="onChangeBuilding($event.target.value)">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let lBuilding of lBuildings" [value]="lBuilding.id">{{lBuilding.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lBuilding').hasError('required')">Campo requerido</small>
			</div>

			<!--Piso-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Piso</mat-label>
				<select matNativeControl formControlName="lFloor" (change)="onChangeFloor($event.target.value)">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let lFloor of lFloors" [value]="lFloor.id">{{lFloor.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lFloor').hasError('required')">Campo requerido</small>
			</div>
			
			<!--lArea-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width" (change)="onChangeArea($event.target.value)">
				<mat-label>Área</mat-label>
				<select matNativeControl formControlName="lArea">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let lArea of lAreas" [value]="lArea.id">{{lArea.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lArea').hasError('required')">Campo requerido</small>
			</div>
			
			<!--lRoom-->
			<div class="form-group">	
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Sala</mat-label>
				<select matNativeControl formControlName="lRoom">
					<option [ngValue]="null" disabled>Seleccione ...</option>   
					<option *ngFor="let lRoom of lRooms" [value]="lRoom.id">{{lRoom.name}}</option>
				</select>
				</mat-form-field>		
				<small class="text-info" *ngIf="reactiveForm.get('lRoom').hasError('required')">Campo requerido</small>
			</div>

<!--contenido-->



</mat-expansion-panel>
<!--Asignaciones-->
			




				<!--Origen-->
				<mat-expansion-panel>
					<mat-expansion-panel-header>
					<mat-panel-title color="primary">
						Origen
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
					<mat-form-field appearance="outline" class="full-width">
                        <mat-label>ID Acreedor</mat-label>
	                        <input matInput placeholder="ID Acreedor"  value="{{request.creditorId}}">
                    </mat-form-field>

                    <mat-checkbox 
                    [checked]="request.newAsset" [disabled]="true">¿Es un activo nuevo?
                    </mat-checkbox>
					<!--contenido-->						
				</mat-expansion-panel>
				
				<!--Años de vida util-->
				<mat-expansion-panel>
					<mat-expansion-panel-header *ngIf="request.lifetimeYear" >
					<mat-panel-title color="primary">
						Años de vida útil
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->
					
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Vida útil en años</mat-label>
                        <input matInput placeholder="Años de vida útil"  value="{{request.lifetimeYear}}">
                </mat-form-field>


                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Vida útil en tributaria</mat-label>
                        <input matInput placeholder="Vida útil en tributaria"  value="{{request.lifetimeYear15}}">
                </mat-form-field>



	<!--contenido-->						
				</mat-expansion-panel>
				<!--Histórico de rechazos-->
					<mat-expansion-panel>
					<mat-expansion-panel-header>
					<mat-panel-title>
						Histórico de rechazos
					</mat-panel-title>
					</mat-expansion-panel-header>
					<!--contenido-->


						<table class="table table-responsive table-sm table-hover">
		<thead>
		<tr>
			<th scope="col">Autor</th>
			<th scope="col">Fecha de registro</th>
			<th scope="col">Descripción</th>
		</tr>
		</thead>
		<tbody>
		
		<tr *ngFor='let histo of request.history'>
		<td>{{histo.createdBy.fullName}}</td>
		<td>----</td>
		<td>{{histo.description}}</td>
		</tr>
		
		</tbody>
		</table>				
		<!--contenido-->						
		</mat-expansion-panel>


			</mat-accordion>


 <button mat-flat-button color="primary" class="full-width mt-3">Guardar cambios y enviar</button>

		</div>
</form>

	</div>
</div>
<app-footer></app-footer>
