
<app-header></app-header>

<div class="mt-5 pt-5">

<a name="" id="" class="btn btn-link" href="javascript:void(0)" role="button">
				<i class="fas fa-angle-left"></i>
				volver
			</a>


<div class="row card-body">
			<div class="col-md-6 col-sm-12">

				<div class="form-group">
					Fecha de creación: dd/mm/aaaa hh:mm
				</div>


				<div class="form-group">
					<label for="">Nombre</label>
					<input type="text" class="form-control" name="" id="" readonly="" value="nombre usuario">
				</div>

				<div class="form-group">
					<label for="">Apellidos</label>
					<input type="text" class="form-control" name="" id="" readonly="" value="appelidos usuario">
				</div>


				<div class="form-group">
					<label for="">Email</label>
					<input type="email" class="form-control" name="" id="" readonly="" value="Email@email.com">
				</div>


			</div>
			<div class="col-md-6 col-sm-12">

				<div class="form-group d-none d-md-block">
					&nbsp;
				</div>


				<div class="form-group">
					<label for="">Rol</label>
					<select class="form-control" disabled="">
						<option value="3">tipo de rol</option>
					</select>
				</div>


				<div class="form-group">
					<label for="">¿Activo?</label>
					<div class="custom-control custom-radio">
						<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="" disabled="">
						<label class="custom-control-label" for="customRadio1">Si</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" disabled="">
						<label class="custom-control-label" for="customRadio2">No</label>
					</div>
				</div>
			</div>
		</div>
</div>
<app-footer></app-footer>

