<app-header></app-header>

<div class="mt-5 pt-5 p-3">

	<button mat-button color="primary" (click)="goBack()" class="mb-3">
		<i class="fas fa-angle-left"></i> Volver</button>



	 <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="" readonly value="Nombre">
  </mat-form-field>



	 <mat-form-field appearance="outline" class="full-width">
    <mat-label>Apellidos</mat-label>
    <input matInput placeholder="" readonly value="Apellidos aplellidos">
  </mat-form-field>

	 <mat-form-field appearance="outline" class="full-width">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="" readonly value="Nombre">
  </mat-form-field>

	 <mat-form-field appearance="outline" class="full-width">
    <mat-label>Rol</mat-label>
    <input matInput placeholder="" readonly value="Nombre">
  </mat-form-field>
</div>
<app-footer></app-footer>
