<app-header></app-header>

<div id="savalFixedAssets" class="container mt-5 pt-5">

	<div class="row">
		<div class="col input-group mb-3 mt-3">

			<select *ngIf="assets" class="form-control" (change)="navigateTo($event.target.value)">
				<option>Selecione activo fijo</option>
				<option *ngFor='let asset of assets' value="/fixedAsset/{{asset.code}}">

					{{asset.code}}</option>
			</select>


		</div>
	</div>

	<div class="row">
		<div class="col">

			<div class="card" [routerLink]="['/fixedAssetCreate']">
				<div class="card-body text-center">
					<h3 class="card-title text-primary">
						<i class="sl-icon sl-icon icon-ico-af"></i>
					</h3>
					<p class="card-text">Crear activo fijo</p>
				</div>
			</div>

		</div>
		<div class="col">


			<div class="card" [routerLink]="['/fixedAssetUpdate']">
				<div class="card-body text-center">
					<h3 class="card-title text-primary">
						<i class="icon-ico-modificar"></i>
					</h3>
					<p class="card-text">modificar activo fijo</p>
				</div>
			</div>


		</div>
	</div>

	<div class="row mt-5">
		<div class="col">
			<div class="card" [routerLink]="['/fixedAssetMove']">
				<div class="card-body text-center">
					<h3 class="card-title text-primary">
						<i class="icon-ico-trasladar"></i>
					</h3>
					<p class="card-text">trasladar activo fijo</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" [routerLink]="['/fixedAssetDelete']">
				<div class="card-body text-center">
					<h3 class="card-title text-primary">
						<i class="icon-ico-eliminar"></i>
					</h3>
					<p class="card-text">dar de baja activo fijo</p>
				</div>
			</div>
		</div>
	</div>

	<div class="innerContent card mt-5">
		<div class="row card-body">


			<div class="col-12 mt-3">
				<h3>Activos fijos en proceso</h3>
				<i *ngIf="!requests" class="fa fa-spinner fa-spin text-primary"></i>
			
				<table *ngIf="requests" class="table table-responsive-sm table-hover">
					<thead>
						<tr title="Tooltip on top">
							<th scope="col"></th>
							<th scope="col">Id</th>
							<th scope="col">Clase de AF</th>
							<th scope="col">Solicitante</th>
							<th scope="col">Fecha de solicitud</th>
							<th scope="col">Nombre AF</th>
							<th scope="col">Especie</th>
							<th scope="col">Estado</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let request of requests'>
							<td>

								<span *ngIf="!request?.isEvaluated">
									<i *ngIf="request?.status == 2" class="fas fa-info-circle text-warning" data-toggle="tooltip" data-placement="top" title="En revisión"></i>

									<i *ngIf="request?.status == 3" class="fas fa-exclamation-triangle text-danger" data-toggle="tooltip" data-placement="top" title="En revisión"></i>
								</span>
							</td>
							<td *ngIf="request?.id">{{request.id}}</td>
							<td *ngIf="request?.catalogClass">{{request.catalogClass.name}}</td>
							<td *ngIf="request?.createdBy">{{request.createdBy.username}}</td>
							<td *ngIf="request?.createdBy">{{request.createdAt.date}}</td>
							<td *ngIf="request?.specie.name">{{request.specie.name}}</td>
							<td *ngIf="request?.specie.code">{{request.specie.code}}
								-
								{{request.specie.name}}</td>
							<td>

								<span *ngIf="request?.status == 2" class="badge badge-secondary">En Evaluación</span>
								<span *ngIf="request?.status == 3" class="badge badge-secondary">Rechazado</span>
								<span *ngIf="request?.status == 4" class="badge badge-secondary">Aprobado</span>
								<!--span *ngIf="request?.status == 5" class="badge badge-secondary">Cerrado</span-->


							</td>
							<td>
								<a name="" id="" class="btn btn-primary btn-sm" [routerLink]="['/fixedAssetPending', request.id ]" role="button">Revisar</a>
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>


</div>


<app-footer></app-footer>
