<app-header></app-header>

<div id="savalFixedAssets" class="container mt-5 pt-5">

    <div class="p3 mt-3">





        <!--soy buscador-->
        <form [formGroup]="reactiveForm" (ngSubmit)="search()">
            <div class="row no-gutters">
                <div class="col-9">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Buscar activo fijo</mat-label>
                        <input id="buscador" matInput placeholder="Ingrese número" formControlName="search">
                    </mat-form-field>
                </div>
                <div class="col-3" style="padding-top:5px;">
                    <button mat-flat-button color="primary" class="full-width" style="height: 50px;">Buscar</button>
                </div>
            </div>
        </form>



        <div class="fluid-container">
            <div class="row">
                <div class="col-6">
                    <mat-card class="cardSaval" [routerLink]="['/create']">
                        <div class="text-center">
                            <i class="sl-icon icon-ico-af"></i>
                            <h5>Crear Activo fijo</h5>
                        </div>
                    </mat-card>
                </div>

                <div class="col-6">
                    <mat-card class="cardSaval" (click)="openDialog()">
                        <div class="text-center">
                            <i class="sl-icon icon-ico-modificar"></i>
                            <h5>Modificar activo fijo</h5>
                        </div>
                    </mat-card>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-6">
                    <mat-card class="cardSaval" (click)="openDialogMove()">
                        <div class="text-center">
                            <i class="sl-icon icon-ico-trasladar"></i>
                            <h5>Trasladar activo fijo</h5>
                        </div>
                    </mat-card>
                </div>

                <div class="col-6">
                    <mat-card class="cardSaval" (click)="openDialogDown()">
                        <div class="text-center">
                            <i class="sl-icon icon-ico-eliminar"></i>
                            <h5>Dar de baja activo fijo</h5>
                        </div>
                    </mat-card>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-12">
                    <mat-card class="cardSaval" [routerLink]="['/request']">
                        <div class="text-center">
                            <i class="sl-icon  icon-ico-af"></i>
                            <h5>Activos fijos en proceso</h5>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>