<app-header></app-header>
<!-- header -->
<div class="container">
    <!-- container -->
    <!-- spinner -->
    <mat-spinner *ngIf="!asset"></mat-spinner>
    <!-- / spinner -->
    <div *ngIf="asset?.referalCode" class="mt-5 pt-5 p-3">
        <!-- div -->
        <!-- row boton volver -->
        <div class="row">
            <div class="col text-left">
                <button mat-button color="primary" (click)="goBack()" class="mb-3">
                    <i class="fas fa-angle-left"></i>
                    Volver</button>
            </div>
        </div>
        <!-- / row boton volver -->
        <!-- row botonera -->
        <div class="row">
            <mat-button-toggle-group name="fontStyle">
                <mat-button-toggle [routerLink]="['/fixedAsset',asset.code]">Detalles
                </mat-button-toggle>
                <mat-button-toggle [routerLink]="['/fixedAssetUpdate', asset.code]" class="btn-primary active">Modificar
                </mat-button-toggle>
                <mat-button-toggle [routerLink]="['/fixedAssetMove', asset.code]">Trasladar</mat-button-toggle>
                <mat-button-toggle [routerLink]="['/fixedAssetDelete', asset.code]">Dar de baja</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <!-- / row botonera -->
        <!-- row accordion -->
        <form [formGroup]="reactiveForm" (ngSubmit)="Dialog()">
            <input matInput formControlName="assetID" class="hidden">
            <div class="row pt-3">


    <mat-expansion-panel [expanded]="true" class="full-width mb-3">

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Datos Activo fijo
                            </mat-panel-title>

                        </mat-expansion-panel-header>


                        <p *ngIf="asset?.createdAt" class="display-5 pr-3 d-sm-block pr-3">Fecha de creación: {{ formatDate(asset.createdAt.date)}}
                        </p>
                        <p *ngIf="asset?.referalCode" class="display-5 pr-3 d-sm-block">Código: {{ asset.referalCode }}
                        </p>
                        <p class="display-5 pr-3 d-sm-block">Código RFID: {{asset.rfidLabelSap}}

                        </p>
                        <p class="display-5 pr-3 d-sm-block">Condición:
                            <span *ngIf="asset?.status == 1" class="badge badge-secondary">En Proceso</span>
                            <span *ngIf="asset?.status == 2" class="badge badge-primary">Activo</span>
                            <span *ngIf="asset?.status == 3" class="badge badge-dark">Dado de Baja</span>
                        </p>


                        <br />
                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.catalogClass">
                            <mat-label>Clase activo fijo</mat-label>
                            <input matInput placeholder="" readonly  value="{{asset.catalogClass.name}}">
                        </mat-form-field>
                        <br />
                        <!--Editable-->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Código Rfid
                            </mat-label>

                            
                            <input matInput formControlName="rfidLabelSap" placeholder="Código Rfid" value={{asset.rfidLabelSap}} (change)="toRfid()">
                            <small class="text-info" *ngIf="reactiveForm.get('rfidLabelSap').hasError('required')">Campo requerido</small>
                        </mat-form-field>
                        <!--Editable-->

                        <br />
                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.society">
                            <mat-label>
                                Sociedad
                            </mat-label>
                            <input matInput placeholder="" readonly  value="{{asset.society}}">
                        </mat-form-field>

                        <!--mat-form-field appearance="outline" class="full-width" *ngIf="asset?.society">
                            <mat-label>
                                Código RFID SAP
                            </mat-label>
                            <input matInput formControlName="rfidLabelSap" placeholder="" value="{{asset.rfidLabelSap}}">
                        </mat-form-field-->


                        
                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.capitalizationDateAt">
                            <mat-label>
                                Fecha de Capitalización
                            </mat-label>
                            <input matInput placeholder="" readonly  value="{{formatDate(asset.capitalizationDateAt.date)}}">
                        </mat-form-field>
                        



                    </mat-expansion-panel>


                <mat-accordion class="full-width">

                

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Especie
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.specie">
                            <mat-label>
                                Especie
                            </mat-label>
                            <input matInput placeholder="Especie"  readonly value="{{asset.specie.code}}-{{asset.specie.name}}">
                        </mat-form-field>
                        <br />


                        <!--Editable-->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Número de serie
                            </mat-label>
                            <input matInput placeholder="Número de serie" formControlName="serieNumber" [readonly]="false" value="asset.serieNumber">
                            <small class="text-info" *ngIf="reactiveForm.get('serieNumber').hasError('required')">Campo
                                requerido</small>
                        </mat-form-field>
                        <!--Editable-->
                        <br />
                        <!--Editable-->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Descripción
                            </mat-label>
                            <textarea matInput *ngIf="asset?.description" [readonly]="false" formControlName="description" cols="5">{{asset.description}}</textarea>
                        </mat-form-field>
                        <!--Editable-->
                        <br />
                        <mat-checkbox [checked]="true" [disabled]="true">Incluir activo fijo en lista inventario
                        </mat-checkbox>
                        <br />
                        <mat-checkbox [checked]="true" [disabled]="true">Gestión histórica</mat-checkbox>
                        <br />



                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Centro de costo
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!--Editable-->
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="full-width">

                                <mat-label>Centro de costo</mat-label>

                                <select matNativeControl formControlName="costCenter">

                                    <option *ngFor="let ccenter of ccenters" [value]="ccenter.id">
                                        {{ccenter.code}}-{{ccenter.name}}</option>
                                </select>

                            </mat-form-field>

                            <small class="text-info" *ngIf="reactiveForm.get('costCenter').hasError('required')">Campo
                                requerido</small>
                        </div>
                        <!--Editable-->
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Asignaciones
                            </mat-panel-title>

                        </mat-expansion-panel-header>





                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.lCenter.code">
                            <mat-label>
                                Centro
                            </mat-label>
                            <input *ngIf="asset?.costCenter" matInput placeholder="" readonly value="{{asset.lCenter.code}} - {{asset.lCenter.name}}">
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.lBuilding.code">
                            <mat-label>
                                Edificio
                            </mat-label>
                            <input *ngIf="asset?.costCenter" matInput placeholder="" readonly value="{{asset.lBuilding.code}} - {{asset.lBuilding.name}}">
                        </mat-form-field>


   <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.lFloor.code">
                            <mat-label>
                                Piso
                            </mat-label>
                            <input *ngIf="asset?.costCenter" matInput placeholder="" readonly value="{{asset.lFloor.code}} - {{asset.lFloor.name}}">
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.lArea.code">
                            <mat-label>
                                Área
                            </mat-label>
                            <input *ngIf="asset?.costCenter" matInput placeholder="" readonly value="{{asset.lArea.code}} - {{asset.lArea.name}}">
                        </mat-form-field>



                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.lRoom.code">
                            <mat-label>
                                Sala
                            </mat-label>
                            <input *ngIf="asset?.costCenter" matInput placeholder="" readonly value="{{asset.lRoom.code}} - {{asset.lRoom.name}}">
                        </mat-form-field>

                     



                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Origen
                            </mat-panel-title>

                        </mat-expansion-panel-header>


                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                ID Acreedor
                            </mat-label>
                            <input matInput formControlName="creditorId" placeholder="ID Acreedor" value="{{asset.creditorId}}">
                            <small class="text-info" *ngIf="reactiveForm.get('creditorId').hasError('required')">Campo
                                requerido</small>
                        </mat-form-field>


                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.creditorName">
                            <mat-label>
                                Fabricante
                            </mat-label>
                            <input *ngIf="asset?.creditorName" matInput placeholder="Fabricante" readonly value="{{asset.creditorName}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width" *ngIf="asset?.assetOrigin">
                            <mat-label>
                                Origen
                            </mat-label>

                            <input *ngIf="asset?.assetOrigin" matInput placeholder="" readonly value="{{asset.assetOrigin}}">
                        </mat-form-field>

                        <mat-checkbox [checked]="asset.newAsset" [disabled]="true">¿Es un activo nuevo?</mat-checkbox>







                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Años de vida útil
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Años de vida útil
                            </mat-label>
                            <input matInput placeholder="Años de vida útil" formControlName="lifetimeYear" value="{{asset.lifetimeYear}}">
                            <small class="text-info" *ngIf="reactiveForm.get('lifetimeYear').hasError('required')">Campo
                                requerido</small>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>
                                Vida útil tributaria
                            </mat-label>
                            <input matInput placeholder="" readonly value="{{asset.lifetimeYear15}}">
                        </mat-form-field>

                    </mat-expansion-panel>


                </mat-accordion>
            </div>
            <div class="row mt-3 mb-5">
                <button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-lg btn-primary full-width mb-3">Guardar cambios y enviar</button>
            </div>

        </form>
        <!-- row accordion -->


        <!-- div -->
    </div>
    <!-- / container -->
</div>


<!-- footer -->
<app-footer></app-footer>