<app-header>
</app-header>

<div class="container">
    <ng-container *ngIf="asset; else loading">
        <ng-container *ngIf="asset !== null; else noContent">
            <div class="mt-5 pt-5 p-3">

                <app-back-button></app-back-button>

                <app-tabs [asset]=asset></app-tabs>

                <form [formGroup]="reactiveForm" (ngSubmit)="Dialog()">


                    <input matInput formControlName="assetID" value="{{asset.id}}" class="hidden">


                    <div class="row pt-3">
                        <mat-accordion class="full-width" [multi]="true">
                            <!--DATOS-->
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Datos Activo fijo
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <div *ngIf="asset.status == 3">
                                    <div class="alert alert-dismissible alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <h4 class="alert-heading"><strong>Atención</strong></h4>
                                        <p class="mb-0 mt-0">Este activo fijo esta dado de baja</p>
                                    </div>
                                </div>

                                <p class="display-5 pr-3 d-sm-block pr-3">Fecha de creación: {{utils.formatDate(asset['createdAt'].date)}}
                                </p>
                                <p class="display-5 pr-3 d-sm-block">Número AF: {{ asset.referalCode }}
                                </p>
                                <p class="display-5 pr-3 d-sm-block">Código RFID: {{ asset.rfidLabelSap }}
                                </p>
                                <p class="display-5 pr-3 d-sm-block">Condición:
                                    <span *ngIf="asset?.status == 1" class="badge badge-secondary">En Proceso</span>
                                    <span *ngIf="asset?.status == 2" class="badge badge-primary">Activo</span>
                                    <span *ngIf="asset?.status == 3" class="badge badge-danger">Dado de Baja</span>
                                </p>



                                <!--Clase activo fijo-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Clase activo fijo</mat-label>
                                    <div *ngIf="asset.catalogClass == null; else catalogClass">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #catalogClass>
                                        <input matInput placeholder="" readonly value="{{asset.catalogClass.name}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Clase activo fijo-->

                                <!--Código Rfid-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Código Rfid
                                    </mat-label>
                                    <div *ngIf="asset.rfidLabelSap == null; else rfidLabelSap">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #rfidLabelSap>
                                        <input matInput readonly placeholder="Código Rfid" value="{{asset.rfidLabelSap}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Código Rfid-->






                                <!--Sociedad-->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Sociedad
                                    </mat-label>
                                    <div *ngIf="asset.society == null; else society">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #society>
                                        <input matInput placeholder="" readonly value="{{asset.society}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Sociedad-->


                                <!--Fecha de Capitalización-->

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fecha de Capitalización
                                    </mat-label>
                                    <div *ngIf="asset.capitalizationDateAt == null; else capitalizationDateAt">

                                        <input matInput placeholder="" readonly disabled value="Sin datos">

                                    </div>
                                    <ng-template #capitalizationDateAt>
                                        <input matInput placeholder="" readonly value="{{utils.formatDate(asset['capitalizationDateAt'].date)}}">
                                    </ng-template>
                                </mat-form-field>
                                <!--Fecha de Capitalización-->
                            </mat-expansion-panel>
                            <!--ESPECIE-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Especie
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Especie
                                    </mat-label>
                                    <div *ngIf="asset.specie == null; else specie">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #specie>
                                        <input matInput placeholder="" readonly value="{{asset.specie.name}}">
                                    </ng-template>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Número de serie
                                    </mat-label>
                                    <div *ngIf="asset.serieNumber == null; else serieNumber">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #serieNumber>
                                        <input matInput placeholder="" readonly value="{{asset.serieNumber}}">
                                    </ng-template>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Denominación
                                    </mat-label>
                                    <div *ngIf="asset.description == null; else description">
                                        <textarea matInput [readonly]="true" disabled cols="5">Sin datos</textarea>
                                    </div>
                                    <ng-template #description>
                                        <textarea matInput [readonly]="true" cols="5">{{asset.description}}</textarea>
                                    </ng-template>

                                </mat-form-field>

                                <mat-checkbox [checked]="true" [disabled]="true">Incluir activo fijo en lista inventario
                                </mat-checkbox>

                                <mat-checkbox [checked]="true" [disabled]="true">Gestión histórica</mat-checkbox>
                            </mat-expansion-panel>
                            <!--CENTRO DE COSTO-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Centro de costo
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Centro de costo
                                    </mat-label>
                                    <div *ngIf="asset.costCenter == null; else costCenter">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #costCenter>
                                        <input matInput placeholder="" readonly value="{{asset.costCenter.code}} - {{asset.costCenter.name}}">
                                    </ng-template>
                                </mat-form-field>
                            </mat-expansion-panel>
                            <!--ASIGNACIONES-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Asignaciones
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Centro
                                    </mat-label>
                                    <div *ngIf="asset.lCenter == null; else lCenter">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lCenter>
                                        <input matInput placeholder="Centro" readonly value="{{asset.lCenter.code}} - {{asset.lCenter.name}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Edificio
                                    </mat-label>
                                    <div *ngIf="asset.lBuilding.code == null; else lBuilding">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lBuilding>
                                        <input matInput placeholder="Edificio" readonly value="{{asset.lBuilding.code}} - {{asset.lBuilding.name}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Piso
                                    </mat-label>
                                    <div *ngIf="asset.lFloor == null; else lFloor">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lFloor>
                                        <input matInput placeholder="Piso" readonly value="{{asset.lFloor.code}} - {{asset.lFloor.name}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Área
                                    </mat-label>
                                    <div *ngIf="asset.lArea == null; else lArea">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lArea>
                                        <input matInput placeholder="Área" readonly value="{{asset.lArea.code}} - {{asset.lArea.name}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Sala
                                    </mat-label>
                                    <div *ngIf="asset.lRoom == null; else lRoom">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lRoom>
                                        <input matInput placeholder="Sala" readonly value="{{asset.lRoom.code}} - {{asset.lRoom.name}}">
                                    </ng-template>
                                </mat-form-field>

                            </mat-expansion-panel>
                            <!--ORIGEN-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Origen
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        ID Acreedor
                                    </mat-label>
                                    <div *ngIf="asset.creditorId == null; else creditorId">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #creditorId>
                                        <input matInput placeholder="ID Acreedor" readonly value="{{asset.creditorId}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fabricante
                                    </mat-label>
                                    <div *ngIf="asset.creditorName == null; else creditorName">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #creditorName>
                                        <input matInput placeholder="Fabricante" readonly value="{{asset.creditorName}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Origen
                                    </mat-label>
                                    <div *ngIf="asset.assetOrigin == null; else assetOrigin">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #assetOrigin>
                                        <input matInput placeholder="" readonly value="{{asset.assetOrigin}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-checkbox [checked]="true" [disabled]="true">¿Es un activo nuevo?</mat-checkbox>
                            </mat-expansion-panel>
                            <!--AGNOS ESPERANZA-->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Años de vida útil
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Años de vida útil
                                    </mat-label>

                                    <div *ngIf="asset.lifetimeYear == null; else lifetimeYear">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lifetimeYear>
                                        <input matInput placeholder="" readonly value="{{asset.lifetimeYear}}">
                                    </ng-template>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Vida útil tributaria
                                    </mat-label>
                                    <div *ngIf="asset.lifetimeYear15 == null; else lifetimeYear15">
                                        <input matInput placeholder="" readonly disabled value="Sin datos">
                                    </div>
                                    <ng-template #lifetimeYear15>
                                        <input matInput placeholder="Vida útil tributaria" readonly value="{{asset.lifetimeYear15}}">
                                    </ng-template>
                                </mat-form-field>
                            </mat-expansion-panel>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header>









                                    <mat-panel-title>
                                        Baja del servicio
                                    </mat-panel-title>
                                </mat-expansion-panel-header>



                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Fecha de documento </mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="downDocumentAt">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Fecha de refeferencia </mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="downPostingAt">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Fecha de contabilización </mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="downReferenceAt">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>


                                <!--
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fecha documento
                                    </mat-label>
                                    <input type="date" matInput formControlName="downDocumentAt" placeholder="" value="">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fecha referencia
                                    </mat-label>
                                    <input type="date" matInput formControlName="downPostingAt" placeholder="" value="">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Fecha contabilización
                                    </mat-label>
                                    <input type="date" matInput placeholder="" value="" formControlName="downReferenceAt">
                                </mat-form-field>
                                -->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        Glosa de baja
                                    </mat-label>
                                    <textarea matInput formControlName="downComment" [readonly]="false" cols="5"></textarea>
                                </mat-form-field>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="row pt-3 mb-5">
                        <button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-lg btn-danger full-width mb-3">Dar de
                        baja</button>
                    </div>
                </form>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
    <ng-template #noContent>
        <h1 class="text-danger">
            {{utils.toHome()}}
        </h1>
    </ng-template>
</div>

<app-footer></app-footer>