

<app-header></app-header>




<div id="homeSaval" class="container mt-5 pt-5">



 <button mat-stroked-button color="primary" class="full-width mt-3 mb-5" (click)="logOut()">
 <i class="fas fa-sign-out-alt "></i>
  Salir
</button>




<mat-card class="cardSaval" 
     [routerLink]="['/userData']">
<div class="text-center">
  <i class="sl-icon icon-ico-user"></i>
    <h4>Bienvenido [{{userfullName}}]</h4>
  </div>
</mat-card>


<mat-card class="cardSaval mt-5" 
     [routerLink]="['/fixedAssets']">
<div class="text-center">
   <i class="sl-icon icon-ico-af"></i>
    <h4 class="card-title">Activo fijo</h4>
    <p class="card-text">Crea, Modifica, Traslada y da de baja activos fijos.</p>
  </div>
</mat-card>


<small class="mt-5 text-center">¿Tienes problemas con la aplicación? <a href="mailto:info@ayuda.com">Contáctenos</a></small>

</div>


<app-footer></app-footer>
