<app-header></app-header>
<div class="container mt-5 pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <!--start-->

            <!--boton volver-->
            <a name="" id="" class="btn btn-link" role="button" [routerLink]="['/fixedAssetCreate']">
                <i class="fas fa-angle-left"></i> Volver paso 1 crear activo fijo
            </a>

            <div class="row">
                <div [hidden]="false" id="step2" class="col-12">
                    <h5 class="mt-3 mb-3">Paso 2: general</h5>
                    <!--steps-->
                    <div class="row m-1">
                        <div class="col-12 steps">
                            <span>
                    <i class="far fa-check-circle text-success"></i>
                </span>
                            <span>
                    <i class="far fa-circle text-success"></i>
                </span>
                            <span>
                    <i class="far fa-circle text-muted"></i>
                </span>
                            <span>
                    <i class="far fa-circle text-muted"></i>
                </span>
                            <span>
                    <i class="far fa-circle text-muted"></i>
                </span>
                            <span>
                    <i class="far fa-circle text-muted"></i>
                </span>
                        </div>
                    </div>
                    <!--steps-->
                    <div class="form-group mt-5">
                        <label for="">Especie</label>
                        <select class="form-control" name="" id="">
                <option>Seleccione</option>
                <option>1</option>
                <option>2</option>
            </select>
                    </div>

                    <div class="form-group">
                        <label for="">Denominación</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Ingrese denominación">
                    </div>


                    <div class="form-group">
                        <label for="">Cuenta</label>
                        <input type="text" name="" id="" readonly class="form-control" placeholder="Ingrese cuenta" value="000000000">
                    </div>


                    <div class="form-check mt-3">
                        <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                Gestión histórica
            </label>
                    </div>

                    <div class="form-check mt-3 mb-3">
                        <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                Incluir activo fijo en lista inventario
            </label>
                    </div>


                    <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block mb-5" [routerLink]="['/fixedAssetCreate3']">Siguiente</button>
                </div>
            </div>

            <!--end-->
        </div>
    </div>
</div>
<app-footer></app-footer>