<div class="row">
    <mat-button-toggle-group name="fontStyle">
        <mat-button-toggle [routerLink]="['/fixedAsset',asset['data'].code]" routerLinkActive="btn-primary active">
            Detalles
        </mat-button-toggle>
        <mat-button-toggle [routerLink]="['/fixedAssetUpdate', asset['data'].code]" routerLinkActive="btn-primary active">
            Modificar
        </mat-button-toggle>
        <mat-button-toggle [routerLink]="['/fixedAssetMove', asset['data'].code]" routerLinkActive="btn-primary active">
            Trasladar
        </mat-button-toggle>
        <mat-button-toggle [routerLink]="['/fixedAssetDelete', asset['data'].code]" routerLinkActive="btn-primary active">
            Dar de baja
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>