<app-header></app-header>




<div class="container">
    <mat-spinner *ngIf="!cClasses"></mat-spinner>
    <div *ngIf="cClasses" class="row mb-5 mt-5">

        <div class="col-12">
            <br />
            <br />
            <br />
            <button mat-button color="primary" (click)="goBack()" class="mb-3">
				<i class="fas fa-angle-left"></i>
				Volver</button>

            <div class="mat-typography">
                <h1>Crear activo fijo</h1>
            </div>
        </div>
        <div class="col-12 mb-5">


{{ reactiveForm.value | json }}


            <form [formGroup]="reactiveForm" (ngSubmit)="Dialog()">

                <!--Catalogo-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Clase activo fijo</mat-label>
                        <select matNativeControl formControlName="catalogClass">
							<option [ngValue]="null" disabled>Seleccione ...</option>
							<option *ngFor="let cClass of cClasses" [value]="cClass.id">{{cClass.code}} -
								{{cClass.name}}</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('catalogClass').hasError('required')">Campo
						requerido</small>
                </div>
                <!--Sociedad-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Sociedad
                        </mat-label>
                        <input matInput placeholder="Sociedad" formControlName="sociedad">
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('sociedad').hasError('required')">Campo
						requerido</small>
                    <small class="text-danger" *ngIf="reactiveForm.get('sociedad').hasError('minlength')">min of
						characters</small>
                    <small class="text-danger" *ngIf="reactiveForm.get('sociedad').hasError('minlength')">max of 10
						characters</small>
                </div>
                <!--Especie-->

                <div class="mat-typography">
                    <h2>Especie</h2>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Especie
                        </mat-label>
                        <select matNativeControl formControlName="speciefake" (change)="onChangeSpecie($event.target.value)">
							<option *ngFor="let specie of species" [value]="specie.code">{{specie.code}} - {{specie.name}}
							</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('specie').hasError('required')">Campo
						requerido</small>
                </div>
                <input style="display:none" matInput formControlName="specie">
                <!--Atributos-->
                <div class="form-group">
                    <div *ngIf='obj'>
                        <div *ngFor="let item of obj.attributes; let indexOfelement=index;">
                            <div *ngIf='item' class="form-group">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>
                                        {{item.human_name}}
                                    </mat-label>
                                    <input matInput placeholder="{{item.human_name}}" formControlName="atributo_{{indexOfelement}}">
                                    <mat-hint align="start"><strong>{{item.help_message}}</strong>
                                    </mat-hint>
                                </mat-form-field>
                                <input formControlName="atributo_id_{{indexOfelement}}" style="display:none">
                            </div>
                        </div>
                    </div>
                </div>
                <!--gestion-->
                <div class="form-group">
                    <mat-checkbox formControlName="history_check">Gestión histórica</mat-checkbox>
                    <small class="text-info" *ngIf="reactiveForm.get('history_check').hasError('required')">Campo
						requerido</small>
                </div>

                <!--inventario-->
                <div class="form-group">
                    <mat-checkbox formControlName="inventory_check">Incluir activo fijo en lista inventario
                    </mat-checkbox>
                    <small class="text-info" *ngIf="reactiveForm.get('history_check').hasError('required')">Campo
						requerido</small>
                </div>

                <!---->
                <input matInput formControlName="assetCount" style="display:none">
                <!---->
                <div class="mat-typography">
                    <h2>Asignaciones</h2>
                </div>

                <!--serieNumber-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Número de serie
                        </mat-label>
                        <input matInput placeholder="Número de serie" formControlName="serieNumber">
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('serieNumber').hasError('required')">Campo
						requerido</small>
                </div>


                <!--CCentro-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Centro de costo</mat-label>
                        <select matNativeControl formControlName="costCenter">

							<option *ngFor="let CCenter of CCenters" [value]="CCenter.id">{{CCenter.code}} -
								{{CCenter.name}}</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('costCenter').hasError('required')">Campo
						requerido</small>
                </div>


                <div class="mat-typography">
                    <h2>Ubicaciones</h2>
                </div>

                <!--Centro-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Centro</mat-label>
                        <select matNativeControl formControlName="lCenter" (change)="onChangeCenter($event.target.value)">
<option [ngValue]="null" disabled>Seleccione ...</option> 
							<option *ngFor="let Center of Centers" [value]="Center.id">{{Center.code}} - {{Center.name}}</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('lCenter').hasError('required')">Campo
						requerido</small>
                </div>

                <!--Edificio-->



                <div class="form-group">


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Edificio</mat-label>
                        <select matNativeControl formControlName="lBuilding" (change)="onChangeBuilding($event.target.value)">
                            <option [ngValue]="null" disabled>Seleccione ...</option> 
                            <option *ngFor="let lBuilding of lBuildings" [value]="lBuilding.id">{{lBuilding.code}} - {{lBuilding.name}}
                            </option>
                            
						</select>
                    </mat-form-field>

                    <small class="text-info" *ngIf="reactiveForm.get('lBuilding').hasError('required')">Campo
						requerido</small>

                </div>

                <!--Piso-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Piso</mat-label>
                        <select matNativeControl formControlName="lFloor" (change)="onChangeFloor($event.target.value)">
                            <option [ngValue]="null" disabled>Seleccione ...</option> 
							<option *ngFor="let lFloor of lFloors" [value]="lFloor.id">{{lFloor.code}} - {{lFloor.name}}</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('lFloor').hasError('required')">Campo
						requerido</small>
                </div>

                <!--lArea-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width" (change)="onChangeArea($event.target.value)">
                        <mat-label>Área</mat-label>
                        <select matNativeControl formControlName="lArea">
                            <option [ngValue]="null" disabled>Seleccione ...</option> 
							<option *ngFor="let lArea of lAreas" [value]="lArea.id">{{lArea.code}} - {{lArea.name}}</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('lArea').hasError('required')">Campo
						requerido</small>
                </div>

                <!--lRoom-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Sala</mat-label>
                        <select matNativeControl formControlName="lRoom">
<option [ngValue]="null" disabled>Seleccione ...</option> 
							<option *ngFor="let lRoom of lRooms" [value]="lRoom.id">{{lRoom.code}} - {{lRoom.name}}</option>
						</select>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('lRoom').hasError('required')">Campo
						requerido</small>
                </div>
                <div class="mat-typography">
                    <h2>Origen</h2>
                </div>

                <!--creditorId-->
                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Acreedor
                        </mat-label>
                        <input matInput placeholder="creditorId" formControlName="creditorId">
                        <mat-hint align="start"><strong>Usar el código de proveedor en SAP sin puntos ni guión</strong>
                        </mat-hint>
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('creditorId').hasError('required')">Campo
						requerido</small>
                </div>
                <!--newAsset-->
                <div class="form-group">
                    <mat-checkbox formControlName="newAsset">Nuevo</mat-checkbox>
                    <small class="text-info" *ngIf="reactiveForm.get('newAsset').hasError('required')">Campo
						requerido</small>
                </div>
                <!--assetOrigin-->
                <!--div class="form-group">
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>
						Origen???
					</mat-label>
					<input matInput placeholder="Origen" formControlName="assetOrigin">
				</mat-form-field>
				<small class="text-info" *ngIf="reactiveForm.get('assetOrigin').hasError('required')">Campo requerido</small>
			</div-->


                <div class="mat-typography">
                    <h2>Vida útil en años</h2>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Años de vida útil
                        </mat-label>
                        <input matInput placeholder="Origen" formControlName="lifetimeYear">
                    </mat-form-field>
                    <small class="text-info" *ngIf="reactiveForm.get('lifetimeYear').hasError('required')">Campo
						requerido</small>
                </div>
                <!--assetOrigin-->




                <button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-primary full-width">Enviar</button>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />

<app-footer></app-footer>
<!-- traza de formulario
<div>reactiveForm.valid= {{ reactiveForm.valid }}</div>
<div>reactiveForm.invalid = {{ reactiveForm.invalid }}</div>
<div>reactiveForm.status = {{ reactiveForm.status }}</div>
<div>reactiveForm.disabled = {{ reactiveForm.disabled }}</div>
<div>reactiveForm.elemento.select = {{ reactiveForm.value | json }}</div>
-->