<app-header></app-header>
<div class="container mt-5 pt-5 pb-5">
	<div class="row">
		<div
			class="col-12">
			<!--start-->
			<a name="" id="" class="btn btn-link" href="javascript:void(0)" role="button">
				<i class="fas fa-angle-left"></i>
				volver
			</a>

		</div>

		<div class="innerContent fixedAssets col-12">



<form [formGroup]="reactiveForm"   (ngSubmit)="saveData()" >

Value :{{reactiveForm.value | json}}

<!--Clase-->
<div class="form-group">	
	<mat-form-field appearance="outline" class="full-width">
	<mat-label>Clase</mat-label>
	<select matNativeControl formControlName="catalogClass">
		<option [ngValue]="null" disabled>Seleccione ...</option>   
		<option *ngFor="let cClass of cClasses" [value]="cClass.id">{{cClass.name}}</option>
	</select>
	</mat-form-field>		
	<small class="text-info" *ngIf="reactiveForm.get('catalogClass').hasError('required')">Este campo es obligatorio</small>
</div>
<!--Clase-->

<!--Sociedad-->
<div class="form-group">
	<mat-form-field appearance="outline" class="full-width" >
		<mat-label>
			Sociedad
		</mat-label>
		<input  matInput placeholder="Sociedad" formControlName="sociedad" readonly>
	</mat-form-field>
	<small class="text-info" *ngIf="reactiveForm.get('sociedad').hasError('required')">field is required</small>
	<small class="text-danger" *ngIf="reactiveForm.get('sociedad').hasError('minlength')">min of characters</small>
	<small class="text-danger" *ngIf="reactiveForm.get('sociedad').hasError('minlength')">max of 10 characters</small>
</div>
<!--Sociedad-->

<!--Especie-->
<div class="form-group">	
	<mat-form-field appearance="outline" class="full-width">
	<mat-label>Especie</mat-label>
	<select matNativeControl formControlName="specie" (change)="onChange($event.target.value)">
		<option [ngValue]="null" disabled>Seleccione ...</option>   
		<option *ngFor="let specie of species" [value]="specie.code">{{specie.name}}</option>
	</select>
	</mat-form-field>		
	<small class="text-info" *ngIf="reactiveForm.get('specie').hasError('required')">Este campo es obligatorio</small>

<div *ngIf='obj'>		
<div *ngFor="let item of obj.attributes; let indexOfelement=index;">
<div *ngIf='item' class="form-group">
	<mat-form-field appearance="outline" class="full-width">
		<mat-label>
			{{item.name}}
		</mat-label>
		<input  matInput placeholder="{{item.name}}" formControlName="atributo_{{indexOfelement}}">

	</mat-form-field>
</div>


</div>
 
		
</div>
</div>
<!--Especie-->

<!--gestion-->
<div class="form-group">
<mat-checkbox  [disabled]="true"   formControlName="history_check">Gestión histórica</mat-checkbox>
<small class="text-info" *ngIf="reactiveForm.get('history_check').hasError('required')">Este campo es obligatorio</small>
</div>
<!--Gestion-->



<!--inventario-->
<div class="form-group">
<mat-checkbox  [disabled]="true" formControlName="inventory_check">Incluir activo fijo en lista inventario</mat-checkbox>
<small class="text-info" *ngIf="reactiveForm.get('history_check').hasError('required')">Este campo es obligatorio</small>
</div>
<!--Inventario-->



<!--
<div class="form-group">
	<mat-form-field appearance="outline" class="full-width">
		<mat-label>
			Texto
		</mat-label>
		<input  matInput placeholder="Texto" formControlName="text">
	</mat-form-field>
	<small class="text-info" *ngIf="reactiveForm.get('text').hasError('required')">field is required</small>
	<small class="text-danger" *ngIf="reactiveForm.get('text').hasError('minlength')">min of characters</small>
	<small class="text-danger" *ngIf="reactiveForm.get('text').hasError('minlength')">max of 10 characters</small>
</div>

<div class="form-group">	
	<mat-form-field appearance="outline" class="full-width">
	<mat-label>Select</mat-label>
	<select matNativeControl formControlName="select">
		<option [ngValue]="null" disabled>Seleccione ...</option>   
		<option *ngFor="let cClass of cClasses" 
						[value]="cClass.name"            		
						>{{cClass.name}}</option>
	</select>
	</mat-form-field>		
	<small class="text-info" *ngIf="reactiveForm.get('select').hasError('required')">Este campo es obligatorio</small>
</div>

-->

<!--[selected]="selectedCar === cClass.name"-->

<!--
<div class="form-group">
	<label>Select</label>
	<select class="custom-select" formControlName="select">
		<option [ngValue]="null" disabled>Seleccione ...</option>
		<option *ngFor="let cClass of cClasses" [ngValue]="cClass.name">{{cClass.name}}</option>
	</select>
	<small class="text-info" *ngIf="reactiveForm.get('select').hasError('required')">field is required</small>
</div>
-->

<button type="submit" [disabled]="reactiveForm.invalid" class="btn btn-primary">Enviar</button>
</form>


<br>


<div>reactiveForm.valid= {{ reactiveForm.valid }}</div>
<div>reactiveForm.invalid = {{ reactiveForm.invalid }}</div>
<div>reactiveForm.status = {{ reactiveForm.status }}</div>
<div>reactiveForm.disabled = {{ reactiveForm.disabled }}</div>
<div>reactiveForm.elemento.select = {{ reactiveForm.controls.specie.value }}</div>



select:

<br/>
<br/>
<br/>

<br/><br/><br/><br/><br/>MKE



		
		</div>
		<!--end-->
	</div>
</div>
<app-footer></app-footer>



