<!--
																<div class="form-group">
																	<label for="">Creado por</label>
																	<input type="text" class="form-control" name="creadoPor" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.creadoPor">
																</div>
								
								
																<div class="form-group">
																	<label for="">Código</label>
																	<input type="text" class="form-control" name="codigo" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.codigo">
																</div>
																<div class="form-group">
																	<label for="">Código rfid</label>
																	<input type="text" class="form-control" name="codigoRfid" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.codigoRfid">
																</div>
								
								
																<div class="form-group">
																	<label for="">Clase activo fijo</label>
																	<input type="text" class="form-control" name="claseActivoFijo" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.claseActivoFijo">
																</div>
																<div class="form-group">
																	<label for="">Sociedad</label>
																	<input type="text" class="form-control " name="sociedad" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.sociedad">
																</div>
								
								
																<hr>
								
																<h5 class="text-left">General</h5>
								
																<div class="form-group">
																	<label for="">Especie</label>
																	<input type="text" class="form-control" name="especie" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.especie">
																</div>
																<div class="form-group">
																	<div class="custom-control custom-checkbox">
																		<input type="checkbox" class="custom-control-input" checked="" name="gestionHistorica" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.gestionHistorica">
																		<label class="custom-control-label" for="">Gestión histórica</label>
																	</div>
																</div>
								
								
																<div class="form-group">
																	<label for="">Denominación</label>
																	<input type="text" class="form-control" name="denominacion" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.denominacion">
																</div>
																<div class="form-group">
																	<div class="custom-control custom-checkbox">
																		<input type="checkbox" class="custom-control-input" name="denominacion" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.denominacion">
																		<label class="custom-control-label" for="">Incluir activo fijo en lista inventario</label>
																	</div>
								
																</div>
								
								
																<div class="form-group">
																	<label for="">Cuenta</label>
																	<input type="text" class="form-control" name="cuenta" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.cuenta">
																</div>
																<hr>
								
								
																<h5 class="text-left">Centro de costo</h5>
																<div class="form-group">
																	<label for="">Centro de costo</label>
																	<input type="text" class="form-control" name="centroCosto" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.centroCosto">
																</div>
																<hr>
																<h5 class="text-left">Asignaciones</h5>
																<div class="form-group">
																	<label for="">Centro</label>
																	<input type="text" class="form-control" name="centro" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.centro">
																</div>
																<div class="form-group">
																	<label for="">Área</label>
																	<input type="text" class="form-control" name="area" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.area">
																</div>
																<div class="form-group">
																	<label for="">Edificio</label>
																	<input type="text" class="form-control" name="edificio" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.edificio">
																</div>
																<div class="form-group">
																	<label for="">Sala</label>
																	<input type="text" class="form-control" name="sala" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.sala">
																</div>
																<div class="form-group">
																	<label for="">Piso</label>
																	<input type="text" class="form-control" name="piso" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.piso">
																</div>
								
								
																<hr>
								
																<h5 class="text-left">Origen</h5>
								
																<div class="form-group">
																	<label for="">Acreedor</label>
																	<input type="text" class="form-control " value="content">
																</div>
																<div class="form-group">
																	<label for="">Fabricante</label>
																	<input type="text" class="form-control" name="fabricante" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.fabricante">
																</div>
																<div class="form-group">
																	<label for="">Condición de activo fijo</label>
																	<input type="text" class="form-control" name="condicion" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.condicion">
																</div>
																<hr>
																<h5 class="text-left">Años de vida útil</h5>
																<div class="form-group">
																	<label for="">Años de vida útil</label>
																	<input type="text" class="form-control" name="agnosVidaUtil" #name="ngModel" [(ngModel)]="fixedassetsService.selectedFixedasset.agnosVidaUtil">
																</div>
															</div>-->