<app-header></app-header>
<div class="container mt-5 pt-5 pb-5">
    <div class="row">
        <div class="col-12">
            <!--start-->



            <a name="" id="" class="btn btn-link" [routerLink]="['/fixedAssetCreate5']" role="button ">
                <i class="fas fa-angle-left "></i> Volver paso 5 origen
            </a>


            <div class="row">
                <div  id="step3 " class="col-12">
                    <h5 class="mt-3 mb-3">Paso 6: Años de vida útil</h5>
                    <!--steps-->
                    <div class="row m-1">
                        <div class="col-12 steps">
                            <span>
                                <i class="far fa-check-circle text-success"></i>
                            </span>
                            <span>
                                <i class="far fa-check-circle text-success"></i>
                            </span>
                            <span>
                                <i class="far fa-check-circle text-success"></i>
                            </span>
                            <span>
                                <i class="far fa-check-circle text-success"></i>
                            </span>
                            <span>
                                <i class="far fa-check-circle text-success"></i>
                            </span>
                            <span>
                                <i class="far fa-circle text-success"></i>
                            </span>
                        </div>
                    </div>
                    <!--steps-->

                    <div class="form-group mt-5">
                        <label for="">Años de vida útil</label>
                        <input type="number" class="form-control" [(ngModel)]="fixedAssetStep6.agnosVidaUtil" #agnosVidaUtil>
                    </div>


                    <div class="form-check mt-3 mb-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
                            Igual para todos </label>
                    </div>

                    <!--boton-->
                    <button type="button" name=" " id=" " class="btn btn-primary btn-lg btn-block mb-5 " (click)="submit()">Finalizar</button>
                </div>

            </div>




            <!--end-->
        </div>
    </div>
</div>


<app-footer></app-footer>