<nav id="footerSaval" class="nav nav-tabs nav-stacked fixed-bottom justify-content-center">

    <a class="nav-link text-center text-secondary" [routerLink]="['/home']">
        <i class="sl-icon icon-ico-inicio"></i>
        <br/>Inicio</a>

    <a class="nav-link text-center text-secondary" [routerLink]="['/userData']">
        <i class="sl-icon icon-ico-user"></i>
        <br/> Usuario
    </a>

    <a class="nav-link text-center text-secondary" [routerLink]="['/fixedAssets']">
        <i class="sl-icon sl-icon icon-ico-af"></i>
        <br/> Activo Fijo</a>

</nav>